.travel-details {
  border: 2px solid red;
  background-color: yellow;
}

.travel-date {
  justify-content: space-around;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.205);

}

.price-location {
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 173, 173, 0.205);

}
